.invented
.fancy {
    font-family: 'Times New Roman',Helvetica, sans-serif;
    font-size: 28px;
}

.invented {
    background-color: black;
    color: white;

}

.fancy {
    background-color: yellow;
}