.odd {
    background-color: pink;
    font-style: Verdana;
}
.adjust-font-size {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 32px;

}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-style: bold;

}